*~
.deps
*.o
/COPYING
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/link-warning.h
/occurs
/occurs-vala.c
/occurs-vala
/occurs_vala_vala.stamp
/TAGS
/cmdline.c
/cmdline.h
/snippet
/pg100.txt
