*~
.deps
*.o
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/occurs
/occurs.c
/occurs_vala.stamp
/TAGS
/pg100.txt
